    h1{
        color:royalblue;
        text-align: center;
    }
    body{
        background-color: beige;
    }
    li {
        
        color: black;
        font-size: large;
        padding-top: 40px;
        
        
    }
    a{
        text-decoration: none;
        display: block;
        color:rgb(51, 20, 164);
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
        padding: 40px;
        padding-right: 60px;
        padding-right: 40px;
        
    }

      li :hover{
        color: red;
        font-size: large;

    }
    

